.header {
  background: hsla(0, 0%, 60%, 0.6);
  margin: 40px;
  padding: 10px 10px;
  box-shadow: 0 0 20px 10px hsl(0, 0%, 70%);
}

.gallery .gallery-item {
  width: 100px;
  height: 100px;
  float: left;
  overflow: hidden;
}

.gallery img {
  width: 100px;
  height: auto;
}

body {
  background: #ddd url("../img/quote.jpg") no-repeat center center fixed;
  background-size: cover;
}

div {
  margin-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(0, 0%, 60%);
  margin-bottom: 10px;
}

