<div class="container">
	
  <div class="bottom-border">

    <h1>2 Way Binding</h1>
    <p>The examples on this page demonstration the powerful 2 way binding that AngularJS so easily implements.</p>

  </div>

  <div class="bottom-border">
  
    <h2>Hello, "World"!</h2>
    <input type="text" ng-model="name" placeHolder="Name:">
    <b class="lead" ng-hide="isEmpty()">Hello, {{ name }}!</b>
  
  </div>

  <div>
  
    <h2>Product Total</h2>

    <div class="row">
      <label for="quantity" class="col-xs-1 text-right">Quantity:</label>
      <input id="quantity" class="col-xs-2" type="number" min="1" ng-model="quantity">
    </div>

    <div class="row">
      <label for="price" class="col-xs-1 text-right">Price:</label>
      <input id="price" class="col-xs-2" type="number" min="0" step="0.01" ng-model="price">
    </div>

    <div>
      <b class="lead">{{ quantity * price | currency }}</b>
    </div>

  </div><!--productBinding-->

</div>
