<div class="container">

  <h1>AngularJS Training</h1>
  <p>Practicing with as many of the framework's components as I can.</p> 

  <div class="row">

    <div class="col-xs-4">
      <h2>Routing</h2>
      <p>The pages in this AngularJS app are dynamically linked with Angular's routing feature.</p>
    </div>

    <div class="col-xs-4">
      <h2>2 Way Binding</h2>
      <p>Angular's 2-Way Binding is such an amazing feature. As simple as it is, I have a page dedicated to trying it out and testing it out.</p>
    </div>

    <div class="col-xs-4">
      <h2>Customer Database</h2>
      <p>This is the biggest page in this AngularJS app. It reads data from a JSON file and displays that data in a table. The user can add data, delete data, and update the data on this table.</p>
    </div>

  </div>

</div>
