<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <base href="/angularLearning/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>AngularJS Testing</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  <nav class="navbar navbar-default" ng-controller="NavController">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./" ng-click="setPanel(0)">Learning AngularJS</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active:panel===1 }"><a href="./binding" ng-click="setPanel(1)">2 Way Binding</a></li>
          <li ng-class="{ active:panel===2 }"><a href="./customerForm" ng-click="setPanel(2)">Customer Database</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

	  <div ng-view></div>	

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
