<div class="header">

  <h1 class="text-center">Happy Mother's Day!</h1>
  <p class="lead">Happy Mother's Day honey!!! This is your very first Mother's Day! What makes today special is the fact that we have Noah in our lives. Without him, we wouldn't be parents.</p>
  <p class="lead">On this page is a bunch of pictures of Noah. I wanted to you to walk through your memories of him growing up ever since he was born! I love you honey!</p>

</div>

<div class="clearfix text-center">

  <h2>0 Months</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month0">
      <img class="img-thumbnail" ng-src="img/month0/{{ url }}" />
    </li>
  </ul>

</div>

<div class="clearfix text-center">

  <h2>1 Month</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month1">
      <img class="img-thumbnail" ng-src="img/month1/{{ url }}" />
    </li>
  </ul>

</div>

<div class="clearfix text-center">

  <h2>2 Months</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month2">
      <img class="img-thumbnail" ng-src="img/month2/{{ url }}" />
    </li>
  </ul>

</div>

<div class="clearfix text-center">

  <h2>3 Months</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month3">
      <img class="img-thumbnail" ng-src="img/month3/{{ url }}" />
    </li>
  </ul>

</div>

<div class="clearfix text-center">

  <h2>4 Months</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month4">
      <img class="img-thumbnail" ng-src="img/month4/{{ url }}" />
    </li>
  </ul>

</div>

<div class="clearfix text-center">

  <h2>5 Months</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month5">
      <img class="img-thumbnail" ng-src="img/month5/{{ url }}" />
    </li>
  </ul>

</div>

<div class="clearfix text-center">

  <h2>6 Months</h2>
  <ul class="gallery">
    <li class="gallery-item" ng-repeat="url in month6">
      <img class="img-thumbnail" ng-src="img/month6/{{ url }}" />
    </li>
  </ul>

</div>
